<!DOCTYPE html>
<html>
	<head>
		<title>Snímanie pohybu</title>
		<meta charets="utf-8">
		<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
	</head>
	<body>
		<div class="navbar">
    		<ul>
       	 		<li class="nav"><a href="index.ejs">Domov</a></li>
       	 		<li class="nav"><a href="about.ejs">O projekte</a></li>
    		</ul>
  		</div>
	</body>
</html>