<!DOCTYPE html>
<html>
	<head>
		<title>Snímanie pohybu</title>
		<meta charets="utf-8">
		<link rel="stylesheet" type="text/css" href="./stylesheets/main.css">
	</head>
	<body>
		<div class="navbar">
    		<ul>
       	 		<li class="nav"><a href="/views/pages/index.ejs">Home</a></li>
       	 		<li class="nav"><a href="/">About</a></li>
    		</ul>
  		</div>
  		<h1>OUR PROJECT</h1>
  		<div class="info">
  			<h2>What is it?</h2>
  			<p>Goal of our project was to create a device that would act as a motion detector, though, more advanced and complicated one.
			<br>Heart of our projects consists of ESP8266 and PIR motion detector connected to it. Every motion is recorded, sent to a nodeJS database (server) and then displayed on our website in a table. This table consists of two columns - date and time - and every row is a single motion. <br>
  			<h2>Our Team</h2>
  			<p>We are group of 4 students, every one of us visits an electrotechnical school:</p>
  			<ul>
  				<li>Šimon Peter Hrúz - Server Builder</li>
  				<li>Kristían Peter - Hardware Engineer</li>
  				<li>Patrik Skaloš - Helping Hand</li>
  				<li>Richard Vitkovič - Web Developer</li>
  			</ul>
			<p>During this internship, we had less than two weeks to finish the project while working about 5 hours a day. Although, every one of us had a specified task, every piece of knowledge was shared with the others.</p>
		</div>
	</body>
</html>